name: "CI"

on:
    push:
        branches: [main]
    pull_request:

jobs:
    check-linux:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Install Nix
              uses: DeterminateSystems/nix-installer-action@v21

            - name: Setup Nix cache
              uses: DeterminateSystems/magic-nix-cache-action@v13
              with:
                  use-flakehub: false

            - name: Run flake check
              run: nix flake check --print-build-logs

    check-darwin:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v6

            - name: Install Nix
              uses: DeterminateSystems/nix-installer-action@v21

            - name: Setup Nix cache
              uses: DeterminateSystems/magic-nix-cache-action@v13
              with:
                  use-flakehub: false

            - name: Run flake check
              run: nix flake check --print-build-logs
