# Garnix does not yet support x86_64-darwin, so we can manually add it as a
# classic build via GitHub Actions.
# https://github.com/garnix-io/issues/issues/16
name: "darwin-support"

on:
  check_suite:
    types: [completed]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v2

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build purs
        run: nix build .#purs

      - name: Build spago
        run: nix build .#spago

      - name: Flake check
        run: nix flake check
